################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/src/Agent/bin/Debug/net5.0
/src/Agent/Logs
/src/Agent
/src/Application/bin/Debug/net5.0
/src/Application/obj
/src/Application/Resources
/src/Client/bin/Debug/net5.0
/src/Client/obj
/src/Client/Resources
/src/Client.Infrastructure/bin/Debug/net5.0
/src/Client.Infrastructure/obj
/src/Client.Infrastructure/Resources/Managers
/src/Domain/bin/Debug/net5.0
/src/Domain/obj
/src/Infrastructure/bin/Debug/net5.0
/src/Infrastructure/obj
/src/Infrastructure/Resources
/src/Infrastructure.Shared/bin/Debug/net5.0
/src/Infrastructure.Shared/obj
/src/Server/bin/Debug/net5.0
/src/Server/Logs
/src/Server/obj
/src/Server/Resources
/src/Shared/bin/Debug/net5.0
/src/Shared/obj
/src/UPbit/bin
/src/UPbit/obj
/.vs/Dreamrosia.Koin/v16/TestStore/0
/src/Test/bin/Debug/net5.0
/src/Test/obj
/src/Fastlane/bin/Debug/net5.0
/src/Fastlane/obj
/src/Application/bin/Release/net5.0
/src/Client/bin/Release/net5.0
/src/Client.Infrastructure/bin/Release/net5.0
/src/Domain/bin/Release/net5.0
/src/Infrastructure/bin/Release/net5.0
/src/Infrastructure.Shared/bin/Release/net5.0
/src/Server/bin/Release/net5.0
/src/Shared/bin/Release/net5.0
/src/Test/bin/Release/net5.0
/src/Fastlane/bin/Release/net5.0
/src/Bot/bin
/src/Bot/obj
/.vs/Dreamrosia.Koin
/obj/Docker
/src/Server/Middlewares/KakaoTalkAuthenticationHandler.cs
/src/Client/Pages/Asset/Assets2.razor.cs
/src/Client/Pages/Asset/Assets2.razor
/src/Client/Shared/ListFilterData.cs
/src/Client/wwwroot/js/financial
/src/Server/bin
/src/Client/wwwroot/js/Chart.Js_Label.js
/src/Infrastructure/Migrations/20220416055353_Initial.Designer.cs
/src/Infrastructure/Migrations/20220416055353_Initial.cs
/src/Client/Pages/Settlement/AccountHolderModal.razor.cs
/src/Client/Pages/Settlement/AccountHolderModal.razor
/src/Infrastructure/Migrations
/src/UPbit.Infrastructure/bin/Debug/net5.0
/src/UPbit.Infrastructure/obj
/src/Shared.Wrapper/bin/Debug/net5.0
/src/Shared.Wrapper/obj
/src/Shared.Enums/bin/Debug/net5.0
/src/Shared.Enums/obj
/src/Application/bin/Debug/net6.0
/src/Client/bin/Debug/net6.0
/src/Client.Infrastructure/bin/Debug/net6.0
/src/Domain/bin/Debug/net6.0
/src/Infrastructure/bin/Debug/net6.0
/src/Infrastructure.Shared/bin/Debug/net6.0
/src/Shared/bin/Debug/net6.0
/src/UPbit.Infrastructure/bin/Debug/net6.0
/src/Shared.Enums/bin/Debug/net6.0
/src/Shared.Wrapper/bin/Debug/net6.0
/src/Client/wwwroot/js/chart/ohlc.js
/src/Application/bin/Release/net6.0
/src/Client/bin/Release/net6.0
/src/Client.Infrastructure/bin/Release/net6.0
/src/Domain/bin/Release/net6.0
/src/Infrastructure/bin/Release/net6.0
/src/Infrastructure.Shared/bin/Release/net6.0
/src/Shared/bin/Release/net6.0
/src/Shared.Enums/bin/Release/net6.0
/src/Shared.Wrapper/bin/Release/net6.0
/src/Test/bin/Release/net6.0
/src/UPbit.Infrastructure/bin/Release/net6.0
/src/Test/bin/Debug/net6.0
