/*@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');*/

html, body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: "Consolas", "Courier", "Montserrat", "Helvetica", "Arial", "sans-serif"
}

th {
    white-space: nowrap;
    text-align: center !important;
}

td {
    white-space: nowrap;
}

.auto-min-width {
    white-space: nowrap;
    min-width: fit-content;
}

.search-box {
    min-width: 128px;
}

@media (max-width: 376px) {
    .header-title-hidden {
        display: none
    }
}

/* --------------- MudBlazor --------------- */
:host {
    --mud-appbar-height: 48px;
}

.mud-table-container {
    overflow: auto;
}

.symbol-autocomplete {
    min-width:256px;
} 
/* --------------- MudBlazor --------------- */

.mud-date-picker {
    width: 136px;
    min-width: 136px;
}

.mud-select-1 {
    min-width: 92px;
}

.mud-multi-select-1 {
    min-width: 128px;
}

.flex-x-scroll-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    align-content: center;
    align-items: end;
    /* IE and Edge */
    -ms-overflow-style: none;
}

    /*Chrome, Safari, Opera*/
    .flex-x-scroll-container::-webkit-scrollbar {
        display: none;
    }

.flex-x-scroll-container > .mud-checkbox .mud-icon-button {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
} 

.align-self-end-button {
    white-space: nowrap;
    min-width: fit-content;
    align-self: end;
}

.positive {
    color: orangered
}

.positive-right {
    color: orangered !important;
    text-align: right;
}

.negative {
    color: dodgerblue
}

.negative-right {
    color: dodgerblue !important;
    text-align: right;
}

.spring {
    color: #00A845;
}

.summer {
    color: OrangeRed;
}

.autumn {
    color: Maroon;
}

.winter {
    color: #3B3B3B;
}
